<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>GGMU</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <h2>Enter player info</h2>
    <form action="/teams" method="POST">
        <label>Player Name:
            <input type="text" name="playerName">
            </label><br>
        <label>Position: 
            <select name="position">
                <option value="Goalkeeper">GK</option>
                <option value="defense">DEF</option>
                <option value="midfield">CAM</option>
                <option value="attack">FW</option>
            </select>
            </label><br>
        <label>Player age:
            <input type="text" name="age">    
        </label><br>
        <label>pace:
            <input type="text" name="pace">    
        </label><br>
        <input type="submit" value="enter">
    </form>
</body>
</html>