<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Enter to know everything about this club</p>
    <img id="pic1" src="public/images/stdm.jpg">
    <br>
    <input type="submit" value="ENTER HERE" >
  </br> 
  </body>
</html>
